{
    "debug": false,
    "discord": {
       "commandPrefix": ">",
       "config": {
          "token": ""
       },
       "voiceChannels": [{
          "channelID": "",
          "record": {
             "sendTo": {
                "type": "telegram",
                "chatID": ""
             },
             "ignoreUsers": [
                 "",
                 ""
             ]
          }
       }]
    },
    "telegram": {
       "config": {
          "token": ""
       }
    }
 }
 